.poster{
    width: 595px;
    height: 842px;
    position: relative;
    background-color: #49A2DF;
}

.h-phone{
    width: 220px;
    height: 499px;
    position: absolute;
    left: 187px;
    top: 251px;
    
}

.logo{
    width: 221px;
    height: 449px;
    
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;

    background: #002B45;
}

.DfdsWhiteLogo{
    width: 121px;
    height: 40px;
    padding-top: 180px;
    padding-right: 10px;
}

/* Phone details */
.PD{
    width: 161px;
    height: 414px;
    left: 29px;
    top: 20px;
    position: absolute;
}

.Time{
    width: 27px;
    height: 11px;
    left: 0px;
    top: 0px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 16px;
}

.Battery{
    width: 13px;
    height: 6px;
    left: 147px;
    top: 2px;
    position: absolute;
}

.Border{
    width: 12px;
    height: 6px;
    left: 0px;
    top: 0px;
    position: absolute;
    opacity: 0.35;
    border-radius: 4.30px;
    border: 1px white solid;
}

.Cap{
    width: 0.6px;
    height: 2.04px;
    left: 13px;
    top: 2px;
    position: absolute;
    opacity: 0.40;
    background-color: white;
}

.Capacity{
    width: 10px;
    height: 5px;
    left: 0.9px;
    top: 1.02px;
    position: absolute;
    background-color: white;
    border-radius: 2.50px;
}



@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Anvend animationen kun når musen er over .h-phone */
.h-phone:hover .poster .h-phone .logo img {
    animation: enlarge 0.3s forwards;
}